<h1>5)</h1>
<h1>1001731650 Bardapurkar, Yash</h1>
<br>
<style type="text/css" media="screen">
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
<h1>6)</h1>

{% for key, list in result.items() %}
	<h2> {{ key }} </h2>
	<table>
		<tr>
			<th>Time</th>
			<th>Magnitude</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Depth</th>
			<th>RMS</th>
			<th>Place</th>
		</tr>

		{% for row in list %}
		<tr>
			<td> {{ row["TIME"] }} </td>
			<td> {{ row["MAG"] }} </td>
			<td> {{ row["LATITUDE"] }} </td>
			<td> {{ row["LONGITUDE"] }} </td>
			<td> {{ row["DEPTH"] }} </td>
			<td> {{ row["RMS"] }} </td>
			<td> {{ row["PLACE"] }} </td>
		</tr>
		{% endfor %}
	</table>
{% endfor %}
