<h1>1001731650</h1>
<h1>Bardapurkar, Yash</h1>
<br>

<h1>5)</h1>
<form action="/prob5" method="post">
	<label>Higher Latitude:</label>
	<input type="number" step="0.01" name="start_latitude"><br>
	<label> Lower Latitude: </label>
	<input type="number" step="0.01" name="end_latitude">
	<br>
	<input type="submit" name="prob_5_submit">
</form>
<br>

<h1>6)</h1>
<form action="/prob6" method="post">
	<label>Number of queries: (1 - 1000): </label>
	<input type="number" name="query_count" min="1" max="1000">
	<br>
	<label>Higher Latitude:</label>
	<input type="number" step="0.01" name="inp1"><br>
	<label> Lower Latitude: </label>
	<input type="number" step="0.01" name="inp2">
	<br>
	<input type="submit" name="prob_6_submit">
</form>
<br>

<h1>7)</h1>
<form action="/prob7" method="post">
	<label>Number of queries: (1 - 1000): </label>
	<input type="number" name="query_count" min="1" max="1000">
	<br>
	<label>Higher Latitude:</label>
	<input type="number" step="0.01" name="inp1"><br>
	<label> Lower Latitude: </label>
	<input type="number" step="0.01" name="inp2">
	<br>
	<input type="submit" name="prob_6_submit">
</form>
<br>

<h1>8)</h1>
<form action="/prob7" method="post">
	<label>Number of queries: (1 - 1000): </label>
	<input type="number" name="query_count" min="1" max="1000">
	<br>
	<label>Higher Latitude:</label>
	<input type="number" step="0.01" name="inp1"><br>
	<label> Lower Latitude: </label>
	<input type="number" step="0.01" name="inp2">
	<br>
	<input type="radio" name="use_cache" value="True"><label>Cache</label><br>
	<input type="radio" name="use_cache" value="False" checked><label>No Cache</label><br>
	<input type="submit" name="prob_6_submit">
</form>



<!--
<h1>1)</h1>
<form action="prob1" method="post">
	<label>Number of queries: (1 - 1000): </label>
	<input type="number" name="query_count" min="1" max="1000">
	<br>
	<input type="radio" name="use_cache" value="True"><label>Cache</label><br>
	<input type="radio" name="use_cache" value="False" checked><label>No Cache</label><br>
	<input type="submit" name="queries_generate_submit">
</form>
<br>

<h1>2)</h1>
<form action="prob2" method="post">
	<label>Magnitude: </label>
	<input type="number" name="start_magnitude" min="0">
	<label> to </label>
	<input type="number" name="end_magnitude" max="10">
	<br>
	<label>Number of queries: (1 - 1000): </label>
	<input type="number" name="query_count" min="1" max="1000">
	<br>
	<input type="radio" name="use_cache" value="True"><label>Cache</label><br>
	<input type="radio" name="use_cache" value="False" checked><label>No Cache</label><br>
	<input type="submit" name="queries_generate_submit">
</form>
