<h1>Yash Bardapurkar</h1>
<h1>1001731650</h1>
<br>

<form action="room_search" method="post">
	<label>Enter room</label>
	<input type="number" name="room">
	<br>
	<input type="submit" name="room_submit" value="Search by Room">
</form>

<br>


<form action="points_search" method="post">
	<label>Start Points</label>
	<input type="number" name="start_point">
	<label>Start Points</label>
	<input type="number" name="end_point">
	<br>
	<input type="submit" name="points_submit" value="Search by Points">
</form>
